@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#title-page {
    display: none;
}

#main-page {
    display: none;
}

#result-page {
    display: none;
}

body {
    background-color: RGB(28, 27, 26);
    font-family: 'OTWelcomeRA';
    color: whitesmoke;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.main-text {
    font-size: large;
}

.bold-text {
    font-size: large;
    font-weight: bold;
    color: RGB(190, 58, 78);
}

.img-div {
    width: auto;
    overflow-x: auto;
}

.result-detail {
    background-color: whitesmoke;
    color: RGB(28, 27, 26);
    border-radius: 25%;
}

#result-text {
    color: gray;
}
/* 
.result-img {
    max-width: 100%;
    height: auto;
    display: block;
} */

ul {
    list-style: none;
    padding-right: 2em;
}

ul li::before {
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
}